[package]
name = "term-transcript"
version = "0.1.0"
authors = ["Alex Ostrovski <ostrovski.alex@gmail.com>"]
edition = "2018"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["snapshot", "terminal", "SVG"]
categories = ["development-tools::testing", "visualization"]
description = "Snapshotting and snapshot testing for CLI / REPL applications"
repository = "https://github.com/slowli/term-transcript"

[package.metadata.docs.rs]
all-features = true
# Set `docsrs` to enable unstable `doc(cfg(...))` attributes.
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
# Public dependencies (present in the public API).
quick-xml = { version = "0.22.0", optional = true }
handlebars = { version = "4.0.0", optional = true }
portable-pty = { version = "0.5.0", optional = true }

# Private dependencies (not exposed in the public API).
bytecount = "0.6.2"
os_pipe = "1.0.0"
serde = { version = "1.0", optional = true, features = ["derive"] }
pretty_assertions = { version = "1.0.0", optional = true }
termcolor = "1.1.2"
unicode-width = "0.1.8"

[dev-dependencies]
anyhow = "1.0.40"
assert_matches = "1.5.0"
doc-comment = "0.3.3"
version-sync = "0.9.2"

[features]
default = ["pretty_assertions", "svg", "test"]
# Rendering terminal transcripts into SVG snapshots
svg = ["handlebars", "serde"]
# Allows parsing transcripts from SVG snapshots and testing them
test = ["quick-xml"]

[workspace]
members = [".", "e2e-tests/rainbow"]
exclude = ["cli"]
