[package]
name = "term-transcript-cli"
version = "0.3.0-beta.2"
authors = ["Alex Ostrovski <ostrovski.alex@gmail.com>"]
edition = "2021"
rust-version = "1.66"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["snapshot", "terminal", "SVG"]
categories = ["command-line-utilities", "development-tools::testing", "visualization"]
description = "CLI wrapper for term-transcript"
repository = "https://github.com/slowli/term-transcript"

[[bin]]
name = "term-transcript"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.40"
atty = "0.2.14"
clap = { version = "4.0.30", features = ["derive", "env", "wrap_help"] }
handlebars = "4.3.1"
humantime = "2.1.0"
serde_json = "1.0"
termcolor = "1.1.2"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"], optional = true }

term-transcript = { version = "0.3.0-beta.2", path = ".." }

[dev-dependencies]
tempfile = "3.2.0"

[features]
default = []
# Enables capturing output via pseudo-terminal (PTY).
portable-pty = ["term-transcript/portable-pty"]
# Enables tracing for main operations.
tracing = ["tracing-subscriber", "term-transcript/tracing"]

[profile.release]
strip = true

[workspace]
# Separate workspace since we need a lockfile
