name: Build

on:
  workflow_call:
    inputs:
      rust_version:
        type: string
        description: Rust version to use in the build
        required: false
        default: stable

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
          - os: macos-latest
          - os: ubuntu-latest
            all_checks: true
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ inputs.rust_version }}
          components: rustfmt, clippy
      - name: Install cargo-deny
        uses: baptiste0928/cargo-install@v3
        if: matrix.all_checks
        with:
          crate: cargo-deny
          version: "^0.18.9"

      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo

      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --workspace --all-features --all-targets -- -D warnings
      - name: Clippy (no features)
        run: cargo clippy -p term-transcript --no-default-features --lib
      - name: Clippy (features = svg)
        run: cargo clippy -p term-transcript --no-default-features --features svg --lib -- -D warnings
      - name: Clippy (features = test)
        run: cargo clippy -p term-transcript --no-default-features --features test --lib -- -D warnings
      - name: Clippy CLI (no features)
        run: cargo clippy -p term-transcript --no-default-features --all-targets -- -D warnings

      - name: Check dependencies
        run: cargo deny --workspace --all-features check
        if: matrix.all_checks

      - name: Run tests
        run: cargo test --workspace --all-features --all-targets --no-fail-fast
        env:
          # Skip the PowerShell snapshots when testing CLI examples
          TT_IMG_SKIP: pwsh
      - name: Run doc tests
        run: cargo test --workspace --all-features --doc

      - name: Test CLI tracing
        shell: bash
        run: |
          RUST_LOG=term_transcript=debug \
          cargo run -p term-transcript-cli --all-features -- \
          exec 'echo Hello' |& grep DEBUG
